<div class="container">
  <table class="table" *ngIf="customers">
    <thead>
    <tr>
      <th>ID</th> <th>Name</th> <th>Email</th> <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of customers._embedded.customers">
      <td>{{c.id}}</td>
      <td>{{c.name}}</td>
      <td>{{c.email}}</td>
      <td>
        <button class="btn btn-outline-light" style="background: linear-gradient(to left, #c4c4c4, #8f8f8f, #5d5d5d, #303030, #000000);" (click)="getOrders(c)">Orders</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
